{% extends '::base.html.twig' %}

{% block sidebar %}
    <div class="items open">
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('review_index') }}" class="btn-info">Home</a></li>
            <li><a href="{{ path('review_create') }}" class="btn-info">Add book</a></li>
        </ul>
    </div>
    {% javascripts
    '@ReviewerUserBundle/Resources/public/js/userAccount.js'
    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
{% trans_default_domain 'FOSUserBundle' %}
    {# override of FOS change password page #}
    <h2 class="page-title">Password management</h2>
    <div class="change-pass">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <strong>{{ form_widget(form.current_password) }}</strong>
            <label>{{ form_widget(form.plainPassword) }}</label>
            <div>
                <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}